# VS缓存
.vs/
*.suo
*.vcxproj.user
# 编译输出
Debug/
Release/
x64/
x86/
# 日志、临时文件
*.log
*.tmp
# 可执行程序、pdb调试文件
*.exe
*.pdb
*.ilk

# CMake构建目录
build/
build-*/

# VS编译中间文件
*.obj
*.tlog
*.pdb
*.ilk
*.exp
*.log

# vcpkg本地安装产物（清单模式生成的）
vcpkg_installed/
vcpkg-manifest-install.log